@model CinemaBookingSystem.Models.Screening

@{
    ViewData["Title"] = "Tickets";
}

<h2>Buy tickets</h2>

<div>
    <hr />
	<div class="bookTicketImg">
		<img src="@Html.DisplayFor(model => @model.ImageUrl)" />
	</div>
	<div class="detailsText">
		<dl>
			<dt>
				@Html.DisplayNameFor(model => model.Title)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Title)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Time)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Time)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>
		</dl>
	</div>
</div>

<hr />
<div class="detailsLinks">
    <a asp-action="Index">Back to Movies</a>
</div>
<hr />
