@model IEnumerable<CinemaBookingSystem.Models.Screening>

@{
	ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Title)</a>
			</th>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]">@Html.DisplayNameFor(model => model.Time)</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Auditorium)
			</th>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["SeatsSortParm"]">@Html.DisplayNameFor(model => model.Auditorium.BookedSeats)</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Time)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Auditorium.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Auditorium.BookedSeats)
			</td>
			<td>
				<a asp-action="Details" asp-route-id="@item.Id">Buy tickets</a>
			</td>
		</tr>
		}
	</tbody>
</table>
